%script(src="index.js")
.container
  - @articles.each_slice(2) do |articles_slice|
    .row
      - articles_slice.each do |article|
        .col-sm-6
          .card.outline-info
            .card-block.bg-info
              .card-title
                %h2
                  = article[:title]
            .card-block
              .card-body
                %span.article_content.article_teaser{:id => "#{article[:link]}_teaser"}
                  = article[:teaser]
                %span.article_content.hidden-xl-down{:id => "#{article[:link]}_content"}
                  = article[:content]
                %a.btn.btn-primary.article_expand{:id => "#{article[:link]}_expand_link"}
                  Show more >>
